site_name: documentation-generator
repo_url: https://github.com/lsvishaal/documentation-generator
site_url: https://lsvishaal.github.io/documentation-generator
site_description: The README Generator Agent is an intelligent automation tool that creates comprehensive, professional README files for open source projects. This agent leverages the power of AI to analyze GitHub repositories and generate well-structured documentation automatically.
site_author: Vishaal_LS
edit_uri: edit/main/docs/
repo_name: lsvishaal/documentation-generator
copyright: Maintained by <a href="https://lsvishaal.com">lsvishaal</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/documentation_generator"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/lsvishaal/documentation-generator
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/documentation-generator

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
